# Comparing linear functions

## Red and blue submersibles

Two submersibles, one red and one blue, started rising toward the surface at the same time. They each rose at a constant speed.

The red submersible started rising from an altitude of $80$ meters below the surface. After $30$ seconds, it was $60$ meters below the surface.

The following equation gives the altitude (in meters relative to the surface) of the blue submersible as a function of time (in seconds).

$A=-90+0.6t$

**Which submersible started rising from a higher altitude?**

We are given that the red submersible started from $80$ meters below the surface, which is an altitude of $-80$ meters.

The starting altitude of the blue submersible corresponds to the value of $A$ when $t=0$. To find it, all we need is to substitute $t={0}$ into the formula for $A$:

In [8]:
import pandas as pd
from IPython.display import display, HTML
from sympy import *
A, t = symbols('A t')
solveset(Eq(A, -90 + 0.6 * t).subs(t, 0), A)

{-90}

**Which submersible rose faster?**

In addition to the fact that the red submersible started from an altitude of $-80$ meters, we are given that after $30$ seconds, it was at an altitude of $-60$ meters. The speed at which it rose is the ratio of the corresponding differences:

In [6]:
Rational(-60 - (-80), 30 - 0)

2/3

This means that the red submersible rose at a speed of ${\dfrac{2}{3}}$ meters per second.

The speed at which the blue submersible rose is represented by the slope of the graph of $A =-90+0.6t$. Since the formula for $A$ is in slope-intercept form, we can determine that the slope is ${0.6}$. This means that the blue submersible rose at a speed of ${0.6}$ meters per second.

## Raj's yoga classes

Raj wants to take yoga classes. There are two yoga studios that have different membership plans.

The first studio charges a fixed amount of $\$70$ per month, and you can take as many classes as you want for no additional charge.

The second studio charges a smaller initial fee plus an additional fee for each class taken. The monthly price (in dollars) of the second studio as a function of the number of classes taken is given by the following table of values:

In [9]:
data = { 
     'Classes' : [1, 3, 5],
     'Price (dollars)' : [35, 45, 55]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**Which studio charges more for each additional class?**

We are given that the first studio charges only a fixed fee. This means that the first studio charges $\$0$ for each additional class.

The table of values for the second studio shows that for each increase of ${2 \text{ Classes}}$, ${\text{Price}}$ increases by $\${10}$. The fee the studio charges for each additional class is the ratio of the corresponding differences in ${\text{Price}}$ and ${\text{Classes}}$:

$\qquad\dfrac{\Delta {\text{Price}}}{\Delta {\text{Classes}}}=\dfrac{10}{2}={5}$

In [12]:
x1 = data['Classes'][0]
x2 = data['Classes'][1]
x3 = data['Classes'][2]
y1 = data['Price (dollars)'][0]
y2 = data['Price (dollars)'][1]
y3 = data['Price (dollars)'][2]
m = (y2 - y1)/(x2 - x1)
m

5.0

**Raj wants to take $8$ classes each month. Which studio is cheaper for him?**

Again, the first studio charges only a fixed fee, so $8$ classes a month at the first studio cost $\${70}$.

We can extend the table of the second studio according to the rate of change we found to find the value of ${\text{Price}}$ when ${\text{Classes}}$ is $8$:

In [21]:
ratex = x2 - x1
ratey = y2 - y1
rate = ratey / ratex
x4 = x3 + 1
x5 = x4 + 1
x6 = x5 + 1
y4 = y3 + rate
y5 = y4 + rate
y6 = y5 + rate

data = { 
     'Classes' : [x3, x4, x5, x6],
     'Price (dollars)' : [y3, y4, y5, y6]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

In [20]:
rate

5.0