<a href="https://colab.research.google.com/github/porkostomus/jupyter/blob/master/exponential_vs_linear_growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exponential vs. linear growth over time

Alicia has invented a new app that two companies are interested in purchasing for a 2-year contract.

* Company $\text{A}$ is offering $\$10{,}000$ for the first month and will increase the amount each following month by $\$5000$.

* Company $\text{B}$ is offering $\$500$ for the first month and will double their payment each following month.

**For which monthly payment will Company $\text{B}$'s payment first exceed Company $\text{A}$'s payment?**

In [9]:
import pandas as pd
from IPython.display import display, HTML

data = { 
     'Months' : [1, 2, 3, 4, 5, 6, 7, 8],
     'Company A' : [10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000],
    'Company B' : [500, 1000, 2000, 4000, 8000, 16000, 32000, 64000]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))