## Linear equations: [tables](https://www.khanacademy.org/math/algebra/linear-word-problems/modal/e/interpreting-tables)

In [64]:
import pandas as pd
from IPython.display import display, HTML
from sympy import *

## Finn's swimming distance

Finn is swimming at a constant speed.

The table compares Finn's distance from the starting point (in meters) and the time since he started (in seconds).

In [78]:
xunits = 'Time (seconds)'
yunits = 'Distance (meters)'

data = { 
     xunits : [6, 14, 22],
     yunits : [9.6, 22.4, 35.2]
}

x1 = data[xunits][0]
x2 = data[xunits][1]
y1 = data[yunits][0]
y2 = data[yunits][1]
m = (y2 - y1)/(x2 - x1)
PointSlope = Eq(y - y2, m * (x - x2))

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many seconds does it take him to swim $50$ meters?**

In [79]:
solveset(PointSlope.subs(y, 50), x)

{31.25}

## Mr. Mole's burrow

In [65]:
data = { 
     'x' : [5, 8, 11],
     'y' : [-18, -25.2, -32.4]
}

x1 = data['x'][0]
x2 = data['x'][1]
y1 = data['y'][0]
y2 = data['y'][1]
m = (y2 - y1)/(x2 - x1)
PointSlope = Eq(y - y2, m * (x - x2))

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many meters below the ground is Mr. Mole's burrow?**

In [66]:
solveset(PointSlope.subs(x, 0), y)

{-6.0}

## The young sumo wrestler's special weight-gain diet

A young sumo wrestler decided to go on a special diet to gain weight rapidly. He gained weight at a constant rate.

The table compares the wrestler's weight (in kilograms) and the time since he started his diet (in months).

In [70]:
data = { 
     'x' : [0.5, 2, 3.5],
     'y' : [80.6, 88.4, 96.2]
}

x1 = data['x'][0]
x2 = data['x'][1]
y1 = data['y'][0]
y2 = data['y'][1]
m = (y2 - y1)/(x2 - x1)
PointSlope = Eq(y - y2, m * (x - x2))

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many kilograms per month did the wrestler gain weight?**

In [68]:
m

5.200000000000007

**What was the wrestler's weight before he went on his diet?**

In [71]:
solveset(PointSlope.subs(x, 0), y)

{78.0}

## Julia's delivery order

Julia got a delivery order. She took some time to get ready, and then she rode her bicycle at a constant speed.

The table compares the distance Julia made (in kilometers) and the time since she got the order (in minutes).

In [11]:
import pandas as pd
from IPython.display import display, HTML
from sympy import *

In [40]:
data = { 
     'Distance (kilometers)' : [5, 7, 9],
     'Time (minutes)' : [40, 52, 64]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
display(HTML(df.to_html(index=False)))

Distance (kilometers),Time (minutes)
5,40
7,52
9,64

**How many minutes did it take Julia to ride $1$ kilometer?**

Since Julia rode at a *constant* speed, the table describes a *linear* relationship.

Moreover, the rate of change of this relationship corresponds to the time it takes Julia to ride $1$ kilometer.

The table of values shows that for each increase of $2$ kilometers in ${\text{Distance}}$, ${\text{Time}}$ increases by ${12}$ minutes. The time it takes Julia to ride $1$ kilometer is the ratio of those corresponding differences:

$\dfrac{\Delta {\text{Time}}}{\Delta {\text{Distance}}}=\dfrac{{12}}{{2}}={6}$

In [41]:
x1 = data['Distance (kilometers)'][0]

In [42]:
x2 = data['Distance (kilometers)'][1]

In [43]:
y1 = data['Time (minutes)'][0]

In [44]:
y2 = data['Time (minutes)'][1]

In [45]:
m = (y2 - y1)/(x2 - x1)
m

6.0

**How many minutes did it take Julia to get ready for a delivery?**

In [48]:
x, y = symbols('x y')
PointSlope = Eq(y - y1, m * (x - x1))
solveset(PointSlope.subs(x, 0), y)

{10.0}

## Isabella's pool

Isabella filled her pool with water at a constant rate.

The table compares the remaining volume of water left to fill the pool (in liters) and the time since Isabella started filling the pool (in minutes).

In [1]:
data = { 
     'Time (minutes)' : [2, 7, 12],
     'Water(liters)' : [184, 94, 4]
}

In [4]:
df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Time (minutes),Water(liters)
2,184
7,94
12,4

**How many liters is Isabella's pool?**

Since Isabella filled the pool at a *constant* rate, the table describes a *linear* relationship.

Moreover, the size of Isabella's pool corresponds to the remaining volume of water to fill before she started, which is when $\text{Time}$ was $0$ minutes.

The table of values shows that for each increase of $5$ minutes in ${\text{Time}}$, ${\text{Water}}$ decreased by ${90}$ liters:

In [19]:
x1 = data['Time (minutes)'][0]
y1 = data['Time (minutes)'][0]
x2 = data['Water(liters)'][1]
y2 = data['Water(liters)'][1]

In [15]:
m = (x2 - x1)/(y2 - y1)

This is the slope of the line representing the relationship.

If we use one of the rows in the table as a point $(x_1,y_1)$, we can write the equation of this relationship in point-slope form: ${y}-y_1={m}({x}-x_1)$. Let's use the point $(12,4)$:

In [18]:
x, y = symbols('x y')

In [29]:
x3 = data['Time (minutes)'][2]
y3 = data['Water(liters)'][2]

In [30]:
PointSlope = Eq(y - y3, m * (x - x3))

In [31]:
solveset(PointSlope.subs(x, 0), y)

{220.0}

## Trip to Mount Kilimanjaro

The price of a climbing trip to Mount Kilimanjaro includes an initial fee plus a constant fee per meter.

The table compares the total distance of a trip (in meters) and the price of the trip (in dollars).

In [2]:
data = { 
     'Distance (meters)' : [70, 100, 130],
     'Price (dollars)' : [114.1, 118, 121.90]
}

In [4]:
df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Distance (meters),Price (dollars)
70,114.1
100,118.0
130,121.9

**What is the additional fee for each meter climbed?**

Since the additional fee per meter climbed is constant, the table describes a linear relationship.

Moreover, the rate of change of this relationship corresponds to the additional fee per meter climbed.

The table of values shows that for each increase of $30$ meters in ${\text{Distance,}}$ ${\text{Price}}$ increases by $\${3.90}$. The additional fee per meter climbed is the ratio of those corresponding differences:


$\dfrac{\Delta {\text{Price}}}{\Delta {\text{Distance}}}=\dfrac{{3.9}}{{30}}={0.13}$

In [4]:
x1 = data['Distance (meters)'][0]
x2 = data['Distance (meters)'][1]
y1 = data['Price (dollars)'][0]
y2 = data['Price (dollars)'][1]

In [15]:
(y2 - y1)/(x2 - x1)

0.1300000000000002

**How many meters far can you climb for $\$131$?**

Since the additional fee per meter climbed is *constant*, the table describes a *linear* relationship.

Moreover, the total distance you can climb for $\$131$ corresponds to the case where $\text{Price}$ is $\$131$.

The table of values shows that for each increase of ${30}$ meters in ${\text{Distance}}$, ${\text{Price}}$  increases by $\${3.90}$:

$\dfrac{\Delta {\text{Price}}}{\Delta {\text{Distance}}}=\dfrac{{3.9}}{{30}}={0.13}$

This is the slope of the line representing the relationship.

If we use one of the rows in the table as a point $(x_1,y_1)$, we can write the equation of this relationship in *point-slope form*: ${y}-y_1={m}({x}-x_1)$. Let's use the point $(100,118)$:

${\text{Price}}-118={0.13}({\text{Distance}}-100)$

When we solve this equation for ${\text{Distance}}$, we get the following equation:

${\text{Distance}}=\dfrac{{\text{Price}}-105}{0.13}$

When we plug ${\text{Price}}={131}$ into the equation, we find that ${\text{Distance}}={200}$.

**In conclusion, for $\$131$, you can climb a total of $200$ meters.**

## Ying Ying's petunias

Ying Ying wants to buy some petunias.

The table compares the number of petunias Ying Ying could buy and the money that would remain in her wallet (in dollars).

In [17]:
data = { 
     'Petunias' : [2, 8, 14],
     'Money (dollars)' : [6.50, 5.00, 3.50]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Petunias,Money (dollars)
2,6.5
8,5.0
14,3.5

How many Petunias can Ying Ying buy at most?

Since the price of a single petunia is *constant*, the table describes a *linear* relationship.

Moreover, the maximum number of petunias Ying Ying could buy corresponds to the case where she has spent all her money on petunias, which is when $\text{Money}$ is $\$0$.

The table of values shows that for each increase of $6$ in ${\text{Petunias}}$, ${\text{Money}}$ decreases by $\${1.50}$:

$\dfrac{\Delta {\text{Money}}}{\Delta {\text{Petunias}}}=\dfrac{{-1.50}}{{6}}={-0.25}$

In [20]:
x1 = data['Petunias'][0]
x2 = data['Petunias'][1]
y1 = data['Money (dollars)'][0]
y2 = data['Money (dollars)'][1]
m = (y2 - y1)/(x2 - x1)

In [21]:
m

-0.25

This is the slope of the line representing the relationship.

If we use one of the rows in the table as a point $(x_1,y_1)$, we can write the equation of this relationship in point-slope form: ${y}-y_1={m}({x}-x_1)$. Let's use the point $(8,5)$:

In [22]:
PointSlope = Eq(y - y2, m * (x - x2))

In [23]:
solveset(PointSlope.subs(y, 0), x)

{28.0}

## Amira's balloon animals

Amira sells balloon animals. She uses the same number of balloons for each animal she makes.

The table compares the number of balloon animals sold and the remaining number of balloons on a certain day.

In [3]:
data = { 
     'Animals' : [15, 24, 33],
     'Balloons' : [200, 164, 128]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Animals,Balloons
15,200
24,164
33,128

**How many balloons does Amira use for each balloon animal?**

In [5]:
x1 = data['Animals'][0]
x2 = data['Animals'][1]
y1 = data['Balloons'][0]
y2 = data['Balloons'][1]
(y2 - y1)/(x2 - x1)

-4.0

## Engine rotation speed 

As a certain engine's rotation speed increases, its temperature increases at a constant rate.

The table compares the engine's rotation speed (in cycles per second) and its temperature (in degrees Celsius).

In [73]:
data = { 
     'x' : [11, 13, 15],
     'y' : [23.8, 25.4, 27]
}

x1 = data['x'][0]
x2 = data['x'][1]
y1 = data['y'][0]
y2 = data['y'][1]
m = (y2 - y1)/(x2 - x1)
PointSlope = Eq(y - y2, m * (x - x2))

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many degrees is the increase in temperature that comes with an increase of $1$ cycle per second in the rotation?**

In [74]:
m

0.7999999999999989

**What is the engine's temperature at rest?**

In [75]:
solveset(PointSlope.subs(x, 0), y)

{15.0}

## Manco went scuba diving

Manco went scuba diving. As he dove deeper, the water pressure around him increased at a constant rate.

The table compares Manco's depth (in meters) and the water pressure around him (in atmospheres).

In [12]:

data = { 
     'Depth (meters)' : [13, 17, 21],
     'Pressure (atmospheres)' : [2.3, 2.7, 3.1]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Depth (meters),Pressure (atmospheres)
13,2.3
17,2.7
21,3.1

**What is the rate of change of the water pressure in atmospheres per meter?**

In [13]:
x1 = data['Depth (meters)'][0]
x2 = data['Depth (meters)'][1]
y1 = data['Pressure (atmospheres)'][0]
y2 = data['Pressure (atmospheres)'][1]
m = (y2 - y1)/(x2 - x1)

In [14]:
m

0.10000000000000009

## Natsumi's wall painting

Natsumi paints walls for a living. She paints at a constant speed, and then she takes a constant amount of time to clean up.

The table compares the total area Natsumi paints (in square meters) and the time it takes Natsumi to finish painting and cleaning up (in hours).

In [12]:
data = { 
     'Area (square meters)' : [30, 45, 60],
     'Time (hours)' : [2, 2.75, 3.5]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many hours does it take Natsumi to clean up after she is done?**

In [7]:
from sympy import *
x, y = symbols('x y')
x1 = 30
x2 = 45
y1 = 2
y2 = 2.75
m = (y2 - y1)/(x2 - x1)
m

0.05

In [9]:
PointSlope = Eq(y - y2, m * (x - x2))
solveset(PointSlope.subs(x, 0), y)

{0.5}

In [13]:
x1 = 110
x2 = 145
y1 = 186
y2 = 207
(y2 - y1)/(x2 - x1)

0.6

## Suraj's pizza

Suraj took a slice of pizza from the freezer and put it in the oven. The pizza was heated at a constant rate.

The table compares the pizza's temperature (in degrees Celsius) and the time since Suraj started heating it (in minutes).

In [49]:
data = { 
     'Time (minutes)' : [1, 7, 13],
     'Temperature (degrees Celsius)' : [2.5, 47.5, 92.5]
}

df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

**How many degrees per minute was the pizza heated?**

In [50]:
x1 = data['Time (minutes)'][0]
x2 = data['Time (minutes)'][1]
y1 = data['Temperature (degrees Celsius)'][0]
y2 = data['Temperature (degrees Celsius)'][1]
m = (y2 - y1)/(x2 - x1)

In [51]:
m

7.5